<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's is your child's name</p>
  <mat-form-field>
    <input matInput  tabindex="1" [(ngModel)]="data.name">
  </mat-form-field>
  <p>What is the Lunch PIN Code #</p>
  <mat-form-field>
    <input matInput type="number" tabindex="2" [(ngModel)]="data.pin">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">Ok</button>
  <button *ngIf="Pwa.promptEvent" mat-mini-fab color="primary" (click)="installPwa()">Install</button>
</div>


